# DESARROLLO DE ACTIVIDAD DE POTENCIALES DATASETS
## Bootcamp Datascience - BIT
Nombre: Juan Sebastian Mora Tibamoso


Actividad: 


1.Identificar 3 datasets que cumplan con las siguientes condiciones a)2000 filas y b)al menos 15 columnas (opcional)


2.Cargar los archivos por medio de pandas


3.describir las variables potencialmente interesantes en cada archivo teniendo en cuenta el contexto comercial y análitico involucrado

### Primer Dataset: pronóstico oficial de demanda de energía (definitivo) 
link: https://www.xm.com.co/consumo/informes-demanda/pronostico-oficial-de-demanda-definitivo

In [40]:
import pandas as pd
url="https://raw.githubusercontent.com/JSEB99/bootcamp_DS_BIT/main/pronosticos_consumo_semanal.csv"
dataset=pd.read_csv(url,sep=',')
dataset.columns

Index(['Operadores_de_red', 'hora', 'potencia', 'lunes', 'martes', 'miercoles',
       'jueves', 'viernes', 'sabado', 'domingo'],
      dtype='object')

In [41]:
dataset.shape

(2952, 10)

In [42]:
dataset

,Operadores_de_red,hora,potencia,lunes,martes,miercoles,jueves,viernes,sabado,domingo
0,MC-Antioquia,1,EN,883.000000,923.000000,924.000000,921.000000,938.000000,956.000000,907.000000
1,MC-Antioquia,2,EN,850.000000,884.000000,884.000000,881.000000,899.000000,910.000000,860.000000
2,MC-Antioquia,3,EN,834.000000,865.000000,868.000000,865.000000,878.000000,883.000000,828.000000
3,MC-Antioquia,4,EN,835.000000,870.000000,870.000000,873.000000,881.000000,875.000000,814.000000
4,MC-Antioquia,5,EN,898.000000,933.000000,933.000000,936.000000,944.000000,909.000000,816.000000
...,...,...,...,...,...,...,...,...,...,...
2947,MC-Tulua,20,POT,36.959228,37.047229,36.744836,36.730304,36.481766,34.406029,31.727528
2948,MC-Tulua,21,POT,35.926917,35.744780,35.460360,35.330803,35.069771,32.978337,31.410340
2949,MC-Tulua,22,EN,31.985050,31.787048,31.448451,31.416077,31.188189,29.304789,28.507068
2950,MC-Tulua,23,EN,28.662949,28.320411,28.017263,28.154150,28.263500,26.770919,26.188021
2951,MC-Tulua,24,EN,25.775057,25.378588,25.236375,25.218173,25.615752,24.295500,23.659327

In [43]:
dataset['Operadores_de_red'].unique()

array(['MC-Antioquia', 'MC-Arauca', 'MC-Atlantico', 'MC-BajoPutumayo',
       'MC-Bolivar', 'MC-Boyaca', 'MC-Caldas', 'MC-Cali', 'MC-Caqueta',
       'MC-Cartago', 'MC-Casanare', 'MC-Cauca', 'MC-Celsia',
       'MC-Cerromatoso', 'MC-Cesar', 'MC-Choco', 'MC-CiraInfanta',
       'MC-Codensa', 'MC-CordobaSucre', 'MC-Drummond', 'MC-DrummondLoma',
       'MC-Emec', 'MC-GM', 'MC-Guaviare', 'MC-Huila', 'MC-Intercor',
       'MC-Meta', 'MC-Nariño', 'MC-NorSantander', 'MC-Oxy', 'MC-Pereira',
       'MC-Planeta', 'MC-PSTN', 'MC-Putumayo', 'MC-Quindio',
       'MC-Rubiales', 'MC-SanFernando', 'MC-Santander', 'MC-Tolima',
       'MC-TubosCaribe', 'MC-Tulua'], dtype=object)

In [44]:
analisis = set(dataset.columns)-{'hora'}
df1 = dataset[list(analisis)]
df1.describe()

,domingo,martes,miercoles,sabado,lunes,viernes,jueves
count,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000
mean,193.012565,221.260817,221.162545,212.689972,218.543685,222.992793,221.821098
std,285.666545,355.473647,356.049432,330.751809,349.693522,355.815177,356.306042
min,0.360380,0.588400,-16.179400,-19.108492,-2.890701,0.535480,0.543480
25%,30.549911,33.507500,33.278763,32.435457,33.332500,33.295000,33.799611
50%,94.912702,97.506830,96.419700,98.875355,96.758193,103.000000,97.000000
75%,226.479120,252.727759,254.300468,245.095482,251.200782,257.791311,259.171657
max,1846.000000,2221.586170,2271.000000,2127.000000,2221.000000,2238.000000,2247.000000

Las variables mas importantes son la hora del día y los días de la semana, ya que con estos sabemos en que horas y que días son los que mas consumo se tienen, para con ello saber en que rangos horarios poder proponer leyes para regular el uso de la energía o tener presente dichos picos para inclusión de las energías renovables.

### Segundo Dataset: temperaturas tomadas del mes de febrero 2023

In [45]:
temperaturas=pd.read_csv('temperatura_semanal.csv',sep=',')
temperaturas

,CodigoEstacion,CodigoSensor,FechaObservacion,ValorObservado,NombreEstacion,Departamento,Municipio,ZonaHidrografica,Latitud,Longitud,DescripcionSensor,UnidadMedida
0,21195120,68,03/12/2023 12:00:00 AM,16.900000,ITA VALSALICE - AUT,CUNDINAMARCA,SILVANIA,ALTO MAGDALENA,4.395778,-74.396139,Temp Aire 2 m,°C
1,26185501,68,03/12/2023 12:00:00 AM,16.015230,SONSON - AUT,ANTIOQUIA,SONSÓN,CAUCA,5.677719,-75.347806,Temp Aire 2 m,°C
2,2401500086,68,03/12/2023 12:00:00 AM,10.500000,TUNJA-U.P.T.C - AUT,BOYACÁ,SAMACÁ,SOGAMOSO,5.441700,-73.552200,Temp Aire 2 m,°C
3,1303500074,68,03/12/2023 12:00:00 AM,23.100000,LOMA VERDE - AUT,CORDOBA,MONTERÍA,SINÚ,8.508778,-76.175417,Temp Aire 2 m,°C
4,5202500132,68,03/12/2023 12:00:00 AM,12.900000,SANTIAGO - AUT,CAUCA,SAN SEBASTIAN,PATÍA,1.814142,-76.782833,Temp Aire 2 m,°C
...,...,...,...,...,...,...,...,...,...,...,...,...
121149,52055501,68,03/17/2023 11:55:00 PM,16.928740,OSPINA PEREZ - AUT,NARIÑO,CONSACÁ,PATÍA,1.254722,-77.487778,Temp Aire 2 m,°C
121150,26125504,68,03/17/2023 11:55:00 PM,17.050460,PARAGUAICITO - AUT,QUINDÍO,BUENAVISTA,CAUCA,4.395556,-75.734167,Temp Aire 2 m,°C
121151,23025502,68,03/17/2023 11:55:00 PM,4.730868,ALMACAFE LETRAS - AUT,CALDAS,MANIZALES,MEDIO MAGDALENA,5.044997,-75.332219,Temp Aire 2 m,°C
121152,28045501,68,03/17/2023 11:55:00 PM,16.265450,PUEBLO BELLO - AUT,CESAR,PUEBLO BELLO,CESAR,10.421667,-73.574719,Temp Aire 2 m,°C
121153,26155502,68,03/17/2023 11:55:00 PM,20.016220,CENICAFE - AUT,CALDAS,MANIZALES,CAUCA,4.991111,-75.597497,Temp Aire 2 m,°C

In [46]:
temperaturas.describe()

,CodigoEstacion,CodigoSensor,ValorObservado,Latitud,Longitud
count,1.211540e+05,121154.0,121154.000000,121154.000000,121154.000000
mean,1.441380e+08,68.0,18.836112,5.062922,-75.101589
std,5.747980e+08,0.0,4.720767,1.990810,1.314215
min,1.102550e+07,68.0,0.000000,0.738000,-81.731000
25%,2.121550e+07,68.0,16.315890,4.260361,-75.845747
50%,2.612506e+07,68.0,18.176285,4.986358,-75.556278
75%,2.618505e+07,68.0,21.620445,5.872219,-74.133333
max,5.311500e+09,68.0,50.000000,13.360000,-67.932000

In [51]:
temperaturas.shape

(121154, 12)

A simple vista las columnas mas importantes son fecha observación, valor observado y municipio. Con dichos parámetros se pueden obtener una ídea de como se comportó el clima en dichos lugares, sin embargo es necesario obtener mas información ya que las variables climaticas son dificiles de predecir.

### Tercer dataset viene relacionado con la energía en las zonas no interconectadas de Colombia desde el año 2020

In [47]:
urlzni="https://raw.githubusercontent.com/JSEB99/bootcamp_DS_BIT/main/energia_zni.csv"
energia_zni = pd.read_csv(urlzni,sep=',')
energia_zni

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,27.0,CHOCO,27006,ACANDI,27006000,ACANDI (ACANDI - CHOCO),2020,1,418615.0,191068.46,941.60,Viernes,01/17/2020 08:45:00 PM,19.23
1,52.0,NARINO,52390,LA TOLA,52390013,AMÁRALES (LA TOLA - NARIÑO),2020,1,5064.0,1179.88,70.34,Martes,01/21/2020 08:15:00 PM,2.53
2,27.0,CHOCO,27495,NUQUI,27495001,ARUSÍ (NUQUI - CHOCO),2020,1,10287.0,4874.80,51.20,Lunes,01/20/2020 06:30:00 PM,8.50
3,27.0,CHOCO,27800,UNGUIA,27800001,BALBOA (UNGUIA - CHOCO),2020,1,16481.0,6457.78,89.87,Sábado,01/11/2020 07:30:00 PM,7.41
4,94.0,GUAINIA,94343,BARRANCO MINAS,94343000,BARRANCO MINAS (BARRANCO MINAS - GUAINíA),2020,1,39131.0,13848.95,154.14,Miércoles,01/22/2020 07:00:00 PM,11.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,97.0,VAUPÉS,97666,TARAIRA,97666000,TARAIRA (TARAIRA - VAUPÉS),2022,12,30847.0,8849.00,126.10,lunes,12/05/2022 06:15:00 PM,10.11
2900,99.0,VICHADA,99001,PUERTO CARREÑO,99001002,CASUARITO (PUERTO CARREÑO - VICHADA),2022,12,34739.0,13313.00,95.74,jueves,12/15/2022 06:15:00 PM,14.43
2901,99.0,VICHADA,99524,LA PRIMAVERA,99524000,LA PRIMAVERA (LA PRIMAVERA - VICHADA),2022,12,364012.0,139356.00,679.07,miércoles,12/28/2022 07:15:00 PM,23.98
2902,99.0,VICHADA,99001,PUERTO CARREÑO,99001000,PUERTO CARREÑO (PUERTO CARREÑO - VICHADA),2022,12,2450074.0,834238.00,4367.44,miércoles,12/14/2022 02:30:00 PM,23.97
2903,99.0,VICHADA,99624,SANTA ROSALÍA,99624000,SANTA ROSALÍA (SANTA ROSALIA - VICHADA),2022,12,148727.0,72473.00,343.15,miércoles,12/14/2022 08:15:00 PM,18.08

In [48]:
energia_zni.describe()

,ID DEPATAMENTO,ID MUNICIPIO,ID LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,PROMEDIO DIARIO EN HORAS
count,2903.000000,2904.000000,2.904000e+03,2904.000000,2904.000000,2.904000e+03,2.904000e+03,2.904000e+03,2904.000000
mean,45.610059,45894.536846,4.599757e+07,2021.018251,6.598140,3.670865e+05,1.088727e+05,1.998087e+03,12.129745
std,29.328145,29280.783349,2.927671e+07,0.812839,3.466191,1.789927e+06,4.769030e+05,5.124428e+04,7.318196
min,5.000000,5679.000000,5.873000e+06,2020.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,19.000000,19809.000000,1.980902e+07,2020.000000,4.000000,5.681000e+03,2.218717e+03,3.600000e+01,6.330000
50%,27.000000,27800.000000,2.780000e+07,2021.000000,7.000000,1.410450e+04,5.923845e+03,7.960500e+01,8.515000
75%,52.000000,52835.000000,5.283590e+07,2022.000000,10.000000,8.458450e+04,3.101140e+04,2.283575e+02,19.432500
max,99.000000,99773.000000,9.977300e+07,2022.000000,12.000000,1.845182e+07,4.904871e+06,2.694319e+06,24.000000

In [50]:
energia_zni.shape

(2904, 14)

Conclusiones: Se puede concluir el promedio de energía del cual consumen las zonas no interconectadas del país y evidenciar cuales zonas obtienen mas energía que otras, según dichas zonas se puede obtener que zonas revisar para mejorar su cálidad de vida.